<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zzh.alldemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TestActivity" />
        <activity
            android:name=".activity.ToolbarsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".activity.WrapperActivity" />
        <activity android:name="com.zzh.popwindow.PopWindowActivity" />
        <activity android:name="com.zzh.eventbus.EventBusActivity" />
        <activity android:name="com.zzh.listview.ListViewActivity" />
        <activity android:name="com.zzh.selectimg.SelectPictureActivity" />
        <activity android:name="com.zzh.permission.PermissionActivity"/>
    </application>

</manifest>